body{margin:0;padding:0}
#loader{width:100%;height:100%;position:fixed;z-index:9990}
#loader_left,#loader_right{width:50%;height:100%;background:rgba(0,0,0,.75);position:absolute;top:0;}
#loader_left{left:0}
#loader_right{right:0}
#loader_content,#loader_content2{font-size:36px;width:250px;height:50px;color:#fff;text-shadow:0 0 10px #aaa;z-index:9991;position:absolute;left:calc(50% - 125px);text-align:center;opacity:1;pointer-events:none}
#loader_content{top:calc(50% - 55px);}
#loader_content2{top:calc(50% + 5px);}
#loader_shining{width:250px;height:4px;background:-webkit-radial-gradient(contain,#FFF,rgba(255,255,255,0));background:-moz-radial-gradient(contain,#FFF,rgba(255,255,255,0));background:radial-gradient(contain,#FFF,rgba(255,255,255,0));z-index:9991;position:absolute;top:calc(50% - 2px);left:calc(50% - 125px)}
#loader_shining_inner{width:24px;height:24px;z-index:9992;position:relative;top:-10px;left:0px;-webkit-animation:l_loader_shining_inner linear 2s infinite;animation:l_loader_shining_inner linear 2s infinite;background:-webkit-radial-gradient(circle,#FFF 5px,rgba(255,255,255,0) 10px);background:-moz-radial-gradient(circle,#FFF 5px,rgba(255,255,255,0) 10px);background:radial-gradient(circle,#FFF 5px,rgba(255,255,255,0) 10px)}
@-webkit-keyframes l_loader{
	from{top:0;height:100%;}
	50%{top:calc(50% - 1px);height: 2px;}
	to{top:calc(50% - 1px);height: 2px;}
}
@-webkit-keyframes l_loader_float{
	from{width:50%;opacity:1;}
	50%{width:50%;opacity:1;}
	to{width:0%;opacity:0.5;}
}
@-webkit-keyframes l_loader_content{
	from{opacity:1;}to{opacity:0;}
}
 
@-webkit-keyframes l_loader_shining_inner{
	from{left:0;opacity:0;-webkit-transform:scale(0);}
	50%{opacity:1;-webkit-transform:scale(1);}
	to{left:100%;opacity:0;-webkit-transform:scale(0);}
}
@keyframes l_loader{
	from{top:0;height:100%;}
	50%{top:calc(50% - 1px);height: 2px;}
	to{top:calc(50% - 1px);height: 2px;}
}
@keyframes l_loader_float{
	from{width:50%;opacity:1;}
	50%{width:50%;opacity:1;}
	to{width:0%;opacity:0.5;}
}
@keyframes l_loader_content{
	from{opacity:1;}to{opacity:0;}
}
@keyframes l_loader_shining_inner{
	from{left:0;opacity:0;transform:scale(0);}
	50%{opacity:1;transform:scale(1);}
	to{left:100%;opacity:0;transform:scale(0);}
}
#loader{height:0;-webkit-animation:l_loader ease-in 5s;animation:l_loader ease-in 5s}
#loader_left,#loader_right{-webkit-animation:l_loader_float ease-out 5s;animation:l_loader_float ease-out 5s}
#loader_content,#loader_content2,#loader_shining{-webkit-animation:l_loader_content ease-in 2s;animation:l_loader_content ease-in 1s;opacity:0}
