body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 8px;
  border: 4px solid #6fa1d6;
  box-shadow: 0 4px 8px #a9c9f5;
}

.lightbox .lb-outerContainer {
  background: none !important;
}
/* ---- grid-item ---- */
/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 35%;
}

.grid-item {
  height: 520px;
  float: left;
  background: #000000;
  border: 5px solid #000000;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width:  10%; }

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 或者使用其他适合你需求的值 */
  max-width: 100%; /* 添加这行代码 */
  max-height: 100%; /* 添加这行代码 */
}





