@font-face {
  font-family: "iconfont"; /* Project id 3874659 */
  src: url('//at.alicdn.com/t/c/font_3874659_w4firf9nmxe.eot?t=1675162687369'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3874659_w4firf9nmxe.eot?t=1675162687369#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3874659_w4firf9nmxe.woff2?t=1675162687369') format('woff2'),
       url('//at.alicdn.com/t/c/font_3874659_w4firf9nmxe.woff?t=1675162687369') format('woff'),
       url('//at.alicdn.com/t/c/font_3874659_w4firf9nmxe.ttf?t=1675162687369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sixin:before {
  content: "\e602";
}

.icon-sixin1:before {
  content: "\e610";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-share-tieba:before {
  content: "\e639";
}

.icon-bilibili-line:before {
  content: "\e75d";
}
