@font-face {
  font-family: "iconfont"; /* Project id 3874659 */
  src: url('//at.alicdn.com/t/c/font_3874659_b6ov1ejd0dn.eot?t=1675178413636'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3874659_b6ov1ejd0dn.eot?t=1675178413636#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3874659_b6ov1ejd0dn.woff2?t=1675178413636') format('woff2'),
       url('//at.alicdn.com/t/c/font_3874659_b6ov1ejd0dn.woff?t=1675178413636') format('woff'),
       url('//at.alicdn.com/t/c/font_3874659_b6ov1ejd0dn.ttf?t=1675178413636') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angleup:before {
  content: "\e84d";
}

.icon-list:before {
  content: "\e63f";
}

.icon-sixin:before {
  content: "\e602";
}

.icon-sixin1:before {
  content: "\e610";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-share-tieba:before {
  content: "\e639";
}

.icon-bilibili-line:before {
  content: "\e75d";
}
